/*
	Example Styling for a Contact Form
*/
@media all {
	@import "compass/css3";
	@import "compass/utilities";
	@import "_definitions";
	@import "_buttons";
	/*
		Form layout
	*/
	form#exampleform {
		* {
			@include box-sizing(border-box);
		}
		fieldset {
			@include rems('margin', 0, 0, 1, 0);
			display : block;
			padding : 0;
		}
		> fieldset {
			> legend {
				@include rems('margin', 0, 0, 0.5, 0);
				display : block;
				font-weight : bold;
			}
		}
	}
	/*
		Form fields
	*/
	form#exampleform {
		> fieldset {
			> label {
				display : block;
				position : relative;
			}
		}
		fieldset {
			label {
				em {
					color : Red;
					font-weight : bold;
				}
				input {
					vertical-align : middle;
				}
				input[type=file] {
					display : block;
				}
				input[type=color], input[type=range], input[type=number], input[type=date], input[type=text], input[type=email], select, textarea {
					@include box-shadow(inset 0 0 5px #ccc);
					@include rem('height', 3);
					@include rem('font-size', 1);
					@include rem('padding', 0.7);
					@include rems('margin', 0.7, 0, 0.7, 0);
					background : #fff;
					border : solid 1px #333;
					display : block;
					font-family : Arial, Sans-Serif;
					width : 100%;
				}
				input[type=checkbox], input[type=radio] {
					@include rems('margin', 0.7, 0.3, 0.7, 0);
					vertical-align : baseline;
				}
				select {
					@include rem('height', 3);
					@include rem('padding', 0.7);
				}
				textarea {
					@include rem('height', 10);
					@include rem('padding', 0.7);
				}
			}
		}
	}
	/*
		Groupings of field
	*/
	form#exampleform {
		fieldset {
			fieldset {
				margin : 0;
				label {
					margin-right : 10px;
				}
			}
		}
	}
	/*
		Fields arranged in a line
	*/
	form#exampleform {
		fieldset {
			fieldset.line {
				> label {
					display : inline-block;
					line-height : 0;
					text-indent : -999em;
					vertical-align : top;
				}
				label {
					.small {
						width : 4em;
					}
					.large {
						width : 8em;
					}
					.medium {
						width : 6em;
					}
				}
			}
		}
	}
	/*
		Checkboxes arranged in a list
	*/
	form#exampleform {
		fieldset {
			fieldset.list {
				legend {
					display : none;
				}
				label {
					display : block;
				}
			}
		}
	}
	/*
		Error messages
	*/
	form#exampleform {
		fieldset {
			label.error {
				color : Red;
				input[type=color], input[type=range], input[type=number], input[type=date], input[type=text], input[type=email], select, textarea {
					border : solid 1px Red;
				}
			}
			label {
				input[type=color].error, input[type=range].error, input[type=number].error, input[type=date].error, input[type=text].error, input[type=email].error, select.error, textarea.error {
					border : solid 1px Red;
				}
				span.notification {
					color : Red;
				}
			}
		}
	}
	/*
		Submission summary
	*/
	form#exampleform {
		div.summary {
			margin : 0 0 1em 0;
			div.failure {
				color : Red;
				span.notification {
					display : block;
				}
			}
			div.success {
				color : Green;
			}
		}
	}
	/*
		Form footer
	*/
	form#exampleform {
		div.footer {
			margin : 0 0 1em 0;
			button {
				@include rem('font-size', 1);
				font-family : Arial, Sans-Serif;
				float : right;
			}
		}
	}
}
@media (min-width: 1200px) {}
@media (min-width: 980px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 979px) {}
@media (max-width: 767px) {}
@media (max-width: 480px) {}
@media print {}
