@import "compass/css3";
@import "compass/utilities";
@import "mixins";
/*
	Form layout
*/
form#exampleform {
	* {
		@include box-sizing(border-box);
	}
	fieldset {
		label {
			em {
				color : Red;
				font-weight : bold;
			}
			input {
				vertical-align : middle;
			}
			input[type=file] {
				display : block;
			}
			input[type=color], input[type=range], input[type=number], input[type=date], input[type=text], input[type=email], select, textarea {
				display : block;
				width : 100%;
			}
		}
		fieldset {
			margin : 0;
			label {
				margin-right : 10px;
			}
		}
	}
}
/*
	Fields arranged in a column
*/
form#exampleform {
	> fieldset {
		> label {
			display : block;
			position : relative;
		}
	}
}
/*
	Fields arranged in a row
*/
form#exampleform {
	fieldset {
		fieldset.line {
			> label {
				display : inline-block;
				line-height : 0;
				text-indent : -999em;
				vertical-align : top;
			}
			label {
				.small {
					width : 4em;
				}
				.large {
					width : 8em;
				}
				.medium {
					width : 6em;
				}
			}
		}
	}
}
/*
	Checkboxes arranged in a list
*/
form#exampleform {
	fieldset {
		fieldset.list {
			legend {
				display : none;
			}
			label {
				display : block;
			}
		}
	}
}
/*
	Error indicator
*/
form#exampleform {
	fieldset {
		label.error {
			color : Red;
			input[type=color], input[type=range], input[type=number], input[type=date], input[type=text], input[type=email], select, textarea {
				border : solid 1px Red;
			}
		}
		label {
			input[type=color].error, input[type=range].error, input[type=number].error, input[type=date].error, input[type=text].error, input[type=email].error, select.error, textarea.error {
				border : solid 1px Red;
			}
		}
	}
}
/*
	Error flags
*/
div.form-flag {
	@include transition-property(opacity);
	@include transition-timing-function(ease);
	@include transition-duration(500ms);
	@include rem('font-size', 1);
	@include rem('line-height', 3);
	@include rems('padding', 0, 1, 0, 1);
	background-color : $color-passive;
	color : #fff;
	margin-top : 12px;
	position : absolute;
	&.form-flag-hidden {
		@include opacity(0);
		visibility : hidden\9;
	}
	&.form-flag-visible {
		@include opacity(1);
		visibility : visible\9;
	}
	&:after {
		background : Transparent url(../img/form.png) no-repeat 0 0;
		content : '';
		display : block;
		height : 10px;
		left : 50%;
		margin : 0 0 0 -16px;
		position : absolute;
		top : -10px;
		width : 32px;
	}
}
/*
	Submission summary
*/
form#exampleform {
	div.summary {
		margin : 0 0 1em 0;
		div.failure {
			color : Red;
			span.notification {
				display : block;
			}
		}
		div.success {
			color : Green;
		}
	}
}
/*
	Form footer
*/
form#exampleform {
	div.footer {
		margin : 0 0 1em 0;
		button {
			@include rem('font-size', 1);
			font-family : Arial, Sans-Serif;
			float : right;
		}
	}
}
